/* CSS Resets */
body {
    background-color: transparent;
    color: var(--text-color, #000);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

/* CSS Start */
.card {
    padding: 20px 40px;
    border-radius: 10px;
    background: transparent;
    color: var(--card-text-color, #fff);
    display: inline-block;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background 0.3s, color 0.3s;
    border: 2px solid #fff; /* White border */
}

.card:hover {
    margin-top: 2px;
    box-shadow: none;
}

.clock, .date, .greet {
    display: block;
    margin: 10px 0;
}

.greet {
    font-family: 'Macondo', 'Playfair Display', cursive;
    font-size: 2.5rem;
}

.date, .clock {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
}

.date {
    white-space: pre-wrap; /* Ensures the <br> tag in the JavaScript works correctly */
}

.time, .colon {
    display: inline-block;
}

.time {
    min-width: 37px;
}

.colon {
    font-size: 1.1em;
}
